<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold">News feed</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
        {{#each allPosts as |post|}}
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{post.user.firstName}} {{post.user.lastName}}</strong>
                <small>{{dateFormat post.updatedAt "MMMM DD"}} at {{dateFormat post.updatedAt "hh:mm A"}}</small>
            </div>
            <div class="col-10 mb-1 small">{{post.message}}</div>
            <small>Likes {{post.hearts.length}} Comments {{post.comments.length}}</small>
        </a>
        {{/each}}
    </div>
</div>
