<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">News feed</span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
        {{#each allPosts as |post|}}
            <a class="list-group-item list-group-item-action py-3 lh-tight" data-bs-toggle="collapse" href="#collapse-{{post.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">
                        {{post.user.firstName}} {{post.user.lastName}}
                    </strong>
                    {{#if (eq post.creatorId ../user.id)}}
                        <div class="flex-shrink-0 dropdown">
                            <i class="bi bi-three-dots" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" data-id={{post.id}}>
                                <li class="dropdown-item editBtn" data-bs-toggle="modal" data-bs-target="#updateModal">Edit</li>
                                <li class="dropdown-item deletePost">Delete</li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
                <small class="text-muted">
                    {{dateFormat post.updatedAt "MMMM DD"}} at {{dateFormat post.updatedAt "hh:mm A"}}
                </small>
                <div class="col-10 mt-3 mb-1">
                    {{post.message}}
                </div>
                <small>
                    <i id="heartBtn" class="bi bi-heart" data-id={{post.id}}></i> {{post.hearts.length}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-chat"></i> {{post.comments.length}}
                </small>
            </a>
            <div class="collapse mb-3 mx-1" id="collapse-{{post.id}}">
                <div class="card card-body mb-2">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
                <div class="input-group mb-2">
                    <img src="./img/person-circle.svg" alt="User" width="38" height="38" class="rounded-circle">
                    &nbsp;&nbsp;
                    <input id="input-{{post.id}}" type="text" class="form-control rounded-pill" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Add a comment...">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button" data-id={{post.id}}>Post</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>
