<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">News feed</span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
        {{#each allPosts as |post|}}
            <a id={{post.id}} class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">
                        {{post.user.firstName}} {{post.user.lastName}}
                    </strong>
                    {{#if (eq post.creatorId ../user.id)}}
                        <div class="flex-shrink-0 dropdown">
                            <i class="bi bi-three-dots" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                <li class="dropdown-item editBtn" data-bs-toggle="modal" data-bs-target="#updateModal">Edit</li>
                                <li class="dropdown-item deletePost">Delete</li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
                <small class="text-muted">
                    {{dateFormat post.updatedAt "MMMM DD"}} at {{dateFormat post.updatedAt "hh:mm A"}}
                </small>
                <div class="col-10 mt-3 mb-1">
                    {{post.message}}
                </div>
                <small>
                    Likes {{post.hearts.length}} Comments {{post.comments.length}}
                </small>
            </a>
        {{/each}}
    </div>
</div>
